<h1>Coach</h1>

<p>Congratulations on taking the first step towards unlocking your full potential and achieving your goals! As a certified coach in IGT International Coaching, I am here to guide you through a transformative journey of self learning and weekly progression towards your goals.</p>

<h3>Unlock Your Potential</h3>
<p>Feeling stuck? Looking for that promo? Don't worry, you're not alone. Together, we'll delve into your behavioral profile, helping you gain invaluable insights into your unique talents and tendencies. By understanding yourself on a deeper level, you'll be empowered to leverage your strengths and overcome obstacles with confidence.</p>

<h3>What to Expect</h3>
<p>My coaching process is designed to be adaptable to any goal you wish to pursue. Whether it's personal or professional, short-term or long-term, I am here to support you every step of the way. Through a series of 10 sessions, we will work together to uncover your strengths, address challenges, and pave a path towards success. Sessions are held weekly, providing you with consistent guidance and accountability.</p>

<h3>Let's Get Started!</h3>
<p>Are you ready to break free from limitations and focus on what truly matters? Whether you're striving for personal growth, career advancement, or anything in between, I am committed to helping you achieve your full potential without feeling overwhelmed.</p>

<p>Want to schedule your first session or ask a question? Feel free to email me at: <a href="mailto:carolinesalibc@gmail.com" target="_blank">carolinesalibc@gmail.com</a></p>

<h3>Testimonials</h3>

<blockquote>
  <p>
    Before starting the 10 coaching sessions with Carol, I was lacking a clear goal for my efforts. Life can be like that sometimes and having someone else help you get clarity on what is important to you, brings you back to being in control of your life. Carol's experience and expertise in the software development world brings an unique perspective on how to align your life with your career goals. It might be tempting to just see these coaching sessions as career ones -- but Carol will help you get on track on your life goals. I can't recommend Carol's work enough for anyone who's looking for support and guidance on achieving their career and life potential.
  </p>
  <footer><strong>Stefanni Brasil</strong>, Senior developer at thoughtbot, co-founder & educator at hexdevs, core-maintainer of faker-ruby</footer>
</blockquote>
