.header {
	background-color: #2C3E50;
	text-align: center;
	padding: 20px;
}

.header-inner {
	width: 760px;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

.title {
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 18px;
}

.nav {
	
}

.link {
	text-decoration: none;
	color: #fff;
	margin-left: 20px;
	font-size: 16px;
}

.content {
	max-width: 760px;
	margin: 0 auto;
}

body {
	font-family: Ubuntu, sans-serif;
  color: #161616;

	h1 {
		color: #e74c3c;
    text-shadow: 1px 1px 1px rgb(150, 150, 150);
		font-weight: 500;
    line-height: 1.1;
	}
}
