<h1>About</h1>

<h3>About me</h3>
<p>Senior Software Developer at Shopify.</p>
<p>Aspiring Career Coach with focus on software and self development.</p>
<p>Born in Brazil and living in Canada since 2019.</p>
<p>I'm passionate about code quality, automated tests, and open source projects. As a software engineer, I also love the feeling of fixing broken things and building software that will have value to others.</p>
<p>My favourite language is ruby. I also have experience working with javascript, php, C# and java. I'm a curious person that loves to learn and try new things.</p>
<p>When I'm not working, I like to spend time playing video games, reading, spending time in nature and hanging out with my pets and friends.</p>

<h3>About this site</h3>
<p>The idea of this site is to give more back to the community. I want to help others and with that also learn and get more xp.</p>
<p>If you have any suggestions, feedback or want to discuss anything, feel free to send a message on any contact links below.</p>

<a href="http://dbtek.github.io/dbyll/" target="_blank">Theme Inspiration</a>|
<a href="https://github.com/carolinesalib/blog" target="_blank">GitHub Repository</a>

<h3>Contact</h3>
<a href="https://github.com/carolinesalib" target="_blank">GitHub</a>|
<a href="https://twitter.com/carolinesalib_" target="_blank">Twitter</a>|
<a href="https://ruby.social/@carolinesalib" target="_blank">Mastodon</a>|
<a href="https://linkedin.com/in/carolinesalib" target="_blank">Linkedin</a>|
<a href="mailto:carolinesalibc@gmail.com" target="_blank">Email</a>
